@import "null.css";

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
   max-width: 810px;
   height: 100%;
   margin: 0 auto;
   text-align: center;
}


/* ========== Header ========== */

.header h1 {
   text-align: left;
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 900;
   font-style: normal;
   font-size: 46px;
   line-height: 1.3;
   margin-bottom: 44px;
}

.header-outer {
   width: 800px;
   height: 100%;
   text-align: left;
   margin-bottom: 47px;
}

img {
   margin-bottom: 60px;
}

.date-and-time {
   text-align: left;
}

.date {
   display: inline-block;
   padding-left: 20px;
   background: url(../img/Calendar.png) left / 16px 16px no-repeat;
}

.time {
   display: inline-block;
   padding-left: 20px;
   background: url(../img/Clock.png) left / 16px 16px no-repeat;
   margin-left: 24px;
}

.date-and-time span {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 400;
   line-height: 1.6;
   font-size: 16px;
   color: rgba(120, 122, 128, 1);
}


/* ========== Main ========== */

.about-text.bold {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 1.5;
   margin-bottom: 24px;
}

.about p {
   color: #424551;
   font-family: 'Lato';
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
   margin-bottom: 24px;
}

.about-outer {
   text-align: left;
   margin-bottom: 48px;
}

/* ========== Review ========== */

.review p {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 1.5;
}

.review ul {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 1.5;
   list-style-type: none;
   padding-left: 58px;
   background: url(../img/braces.png) 0 0 / 28px 20px no-repeat;
}

.review-outer {
   text-align: left;
   margin-bottom: 48px;
}

/* ========== Achievements ========== */

.company-achievements {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
}
.company-achievements p {
   margin-bottom: 24px;
}

.list {
   list-style-type: none;
}

.list li {
   background: url(../img/check.png) left / auto no-repeat;
   padding-left: 30px;
   margin-bottom: 5px;
}

.company-outer {
   text-align: left;
   margin-bottom: 24px;
}

/* ========== Down text ========== */

.about-down-text {
   text-align: left;
   margin-bottom: 50px;
}

.about-down-text p {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
}


/* ========== Footer ========== */

.footer-outer {
   text-align: left;
}

.footer-first-text {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-weight: 700;
   font-style: normal;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #1E212C;
   margin-bottom: 22px;
}

.footer-second-text {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-weight: 900;
   font-style: normal;
   font-size: 46px;
   line-height: 1.3;
   color: #1E212C;
   margin-bottom: 58px;
}

.footer-list {
   text-align: left;
   max-width: 390px;
   height: 100%;
   margin-bottom: 37px;
}

.footer-list-item {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
   color: #424551;
   margin-bottom: 12px;
   background: url(../img/check.png) left 5px / 16px 16px no-repeat;
   padding: 0px 0px 0px 25px;
}

.button {
   display: inline-block;
}

.company-button {
   width: 161px;
   height: 44px;
   border-radius: 4px;
   padding: 0 32px 0 32px;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}

.company-button p {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-weight: 700;
   font-style: normal;
   font-size: 14px;
   line-height: 3.14;
   color: #1E212C;
   margin-bottom: 58px;
   text-align: center;
   letter-spacing: 0.5px;
   color: #FFFFFF;
}





